body {
  overflow: hidden; /* Hide scrollbars */
}

#base {
  display: inline-block;
  position: absolute;
  left: 40%;
  top: 25%;
}

.card {
  background-color: rgb(124, 150, 150);
  position: absolute;
  height: 400px;
  width: 280px;
  border-color: azure;
  border-radius: 30px;
  border-width: 5px;
  border-style: solid;
  text-align: center;
}

h3 {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes going-out {
  0% {
    transform: rotate(0deg) scale(1) skew(0);
    top: 0%;
    left: 0%;
  }
  100% {
    transform: rotate(60deg) scale(1.8) skew(0) skew(0deg, 45deg);
    top: 1620px;
    left: 1820px;
  }
}

footer {
  text-shadow: 0 0 8px #000000;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  opacity: 0.8;
}