body {
  background-color:rgb(124, 179, 201);
  overflow: hidden; /* Hide scrollbars */
}

#base {
  display: inline-block;
  position: absolute;
  left: 40%;
  top: 25%;
}

.card {
  position: absolute;
  height: 400px;
  width: 280px;
  border-color: azure;
  border-radius: 30px;
  border-width: 5px;
  border-style: solid;
  text-align: center;
}

#face-down-card {
  background-color: rgb(139, 150, 124);
  z-index: -10;
}

#face-up-card  {
  background-color: rgb(124, 150, 150);
  z-index: 12;
}

@keyframes going-out {
  0% {
    transform: rotate(0deg) scale(1);;
    top: 0%;
    left: 0%;
  }
  100% {
    transform: rotate(60deg) scale(1.8);
    top: 620px;
    left: 620px;
  }
}

.main-card p {
  display: inline-block;
  vertical-align: middle;
}